<menu>
    <!--
        Sidebar do Central Vet Pro (T-19).
        Itens sem tela real apontam para CvShellController::onComingSoon:
        cv-shell.js marca o item com .cv-menu-disabled, mostra "Em breve" e
        bloqueia a navegação. O parâmetro hint=encounter acrescenta a dica
        "Abra pelo atendimento". Ícones com a classe cv-menu-footer ficam
        colados ao rodapé da sidebar (custom.css).
    -->
    <menuitem label='Dashboard'>
        <icon>fas:gauge-high fa-fw</icon>
        <action>CvShellController#method=onComingSoon#item=dashboard</action>
    </menuitem>

    <menuitem label='_t{Agenda}'>
        <icon>fas:calendar-days fa-fw</icon>
        <action>AgendaView</action>
    </menuitem>

    <menuitem label='_t{Tutors}'>
        <icon>fas:user-group fa-fw</icon>
        <action>TutorList</action>
    </menuitem>

    <menuitem label='_t{Patients}'>
        <icon>fas:paw fa-fw</icon>
        <action>GlobalSearchController</action>
    </menuitem>

    <menuitem label='_t{Encounters}'>
        <icon>fas:stethoscope fa-fw</icon>
        <action>QueueEntryView</action>
    </menuitem>

    <menuitem label='_t{Clinical record}'>
        <icon>fas:notes-medical fa-fw</icon>
        <action>CvShellController#method=onComingSoon#item=clinical-record</action>
    </menuitem>

    <menuitem label='_t{Vaccination}'>
        <icon>fas:syringe fa-fw</icon>
        <action>VaccinationCardView</action>
    </menuitem>

    <menuitem label='_t{Exams}'>
        <icon>fas:vials fa-fw</icon>
        <action>PendingExamResultList</action>
    </menuitem>

    <menuitem label='_t{Hospitalization}'>
        <icon>fas:bed fa-fw</icon>
        <action>HospitalizationBoard</action>
    </menuitem>

    <menuitem label='_t{Surgeries}'>
        <icon>fas:kit-medical fa-fw</icon>
        <action>SurgeryList</action>
    </menuitem>

    <menuitem label='_t{Prescriptions}'>
        <icon>fas:prescription fa-fw</icon>
        <action>CvShellController#method=onComingSoon#item=prescriptions#hint=encounter</action>
    </menuitem>

    <menuitem label='_t{Stock}'>
        <icon>fas:boxes-stacked fa-fw</icon>
        <action>ProductList</action>
    </menuitem>

    <menuitem label='_t{Sales}'>
        <icon>fas:cash-register fa-fw</icon>
        <action>SaleForm</action>
    </menuitem>

    <menuitem label='_t{Financial}'>
        <icon>fas:hand-holding-dollar fa-fw</icon>
        <action>FinancialOverview</action>
    </menuitem>

    <menuitem label='_t{Services}'>
        <icon>fas:concierge-bell fa-fw</icon>
        <action>ServiceList</action>
    </menuitem>

    <menuitem label='_t{CRM / Communication}'>
        <icon>fas:comments fa-fw</icon>
        <action>CvShellController#method=onComingSoon#item=crm</action>
    </menuitem>

    <menuitem label='_t{Reports}'>
        <icon>fas:chart-column fa-fw</icon>
        <action>CvShellController#method=onComingSoon#item=reports</action>
    </menuitem>

    <!-- Rodapé da sidebar -->
    <menuitem label='_t{Settings}'>
        <icon>fas:gear fa-fw cv-menu-footer</icon>
        <menu>
            <menuitem label='_t{Clinical catalogs}'>
                <icon>fas:book-medical fa-fw</icon>
                <menu>
                    <menuitem label='_t{Exam catalog}'>
                        <icon>fas:vials fa-fw</icon>
                        <action>ExamCatalogList</action>
                    </menuitem>
                    <menuitem label='_t{Vaccine catalog}'>
                        <icon>fas:syringe fa-fw</icon>
                        <action>VaccineCatalogList</action>
                    </menuitem>
                    <menuitem label='_t{Procedure catalog}'>
                        <icon>fas:clipboard-list fa-fw</icon>
                        <action>ProcedureCatalogList</action>
                    </menuitem>
                </menu>
            </menuitem>

            <menuitem label='_t{Beds}'>
                <icon>fas:bed fa-fw</icon>
                <action>BedList</action>
            </menuitem>
            <menuitem label='_t{Surgery rooms}'>
                <icon>fas:kit-medical fa-fw</icon>
                <action>SurgeryRoomList</action>
            </menuitem>

            <menuitem label='_t{Administration}'>
                <icon>fas:sliders fa-fw</icon>
                <menu>
                    <menuitem label='Dashboard'>
                        <icon>fas:tachometer-alt fa-fw</icon>
                        <action>SystemAdministrationDashboard</action>
                    </menuitem>
                    <menuitem label='_t{Programs}'>
                        <icon>far:file-code fa-fw</icon>
                        <action>SystemProgramList</action>
                    </menuitem>
                    <menuitem label='_t{Groups}'>
                        <icon>fas:users fa-fw</icon>
                        <action>SystemGroupList</action>
                    </menuitem>
                    <menuitem label='_t{Units}'>
                        <icon>fas:university fa-fw</icon>
                        <action>SystemUnitList</action>
                    </menuitem>
                    <menuitem label='_t{Roles}'>
                        <icon>fas:user-tag fa-fw</icon>
                        <action>SystemRoleList</action>
                    </menuitem>
                    <menuitem label='_t{Users}'>
                        <icon>fas:user fa-fw</icon>
                        <action>SystemUserList</action>
                    </menuitem>
                    <menuitem label='_t{Landing leads}'>
                        <icon>fas:bullhorn fa-fw</icon>
                        <action>LandingLeadList</action>
                    </menuitem>
                    <menuitem label='_t{Page management}'>
                        <icon>fab:wikipedia-w fa-fw</icon>
                        <action>SystemWikiList</action>
                    </menuitem>
                    <menuitem label='_t{News management}'>
                        <icon>fas:pen-square fa-fw</icon>
                        <action>SystemPostList</action>
                    </menuitem>
                    <menuitem label='_t{Schedules}'>
                        <icon>fas:clock fa-fw</icon>
                        <action>SystemScheduleList#method=onReload</action>
                    </menuitem>
                    <menuitem label='_t{Preferences}'>
                        <icon>fas:cog fa-fw</icon>
                        <action>SystemPreferenceForm#method=onEdit</action>
                    </menuitem>
                </menu>
            </menuitem>

            <menuitem label='Logs'>
                <icon>fas:desktop fa-fw</icon>
                <menu>
                    <menuitem label='Dashboard'>
                        <icon>fas:tachometer-alt fa-fw</icon>
                        <action>SystemLogDashboard</action>
                    </menuitem>
                    <menuitem label='_t{Access Log}'>
                        <icon>fas:key fa-fw</icon>
                        <action>SystemAccessLogList</action>
                    </menuitem>
                    <menuitem label='_t{Change Log}'>
                        <icon>fas:film fa-fw</icon>
                        <action>SystemChangeLogView</action>
                    </menuitem>
                    <menuitem label='_t{SQL Log}'>
                        <icon>fas:database fa-fw</icon>
                        <action>SystemSqlLogList</action>
                    </menuitem>
                    <menuitem label='_t{Request Log}'>
                        <icon>fas:globe fa-fw</icon>
                        <action>SystemRequestLogList</action>
                    </menuitem>
                    <menuitem label='_t{Schedules}'>
                        <icon>fas:clock fa-fw</icon>
                        <action>SystemScheduleLogList</action>
                    </menuitem>
                    <menuitem label='_t{PHP Log}'>
                        <icon>fas:exclamation-triangle fa-fw</icon>
                        <action>SystemPHPErrorLogView</action>
                    </menuitem>
                    <menuitem label='Session vars'>
                        <icon>fas:code fa-fw</icon>
                        <action>SystemSessionVarsView</action>
                    </menuitem>
                </menu>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='_t{Help}'>
        <icon>fas:circle-question fa-fw cv-menu-footer</icon>
        <action>CvShellController#method=onComingSoon#item=help</action>
    </menuitem>
</menu>
